<app-my-header name="Лабораторна робот №3"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Завдання №3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Згенерувати матрицю розміром NxN. Знайдіть кількість елементів,
        що знаходяться на головній діагоналі і є простими.
      </p>
        <ion-item>
          <ion-input
            aria-label="Введіть розмір матриці"
            label-placement="stacked"
            type="number"
            id="a"
            value="1"
            #Inputa
          />
        </ion-item>
        <ion-button
          expand="block"
          (click)="calculate(Inputa.value)"
        >Розрахунок
        </ion-button>
        <ion-item>
          <p>Кількість простих чисел на головній діагоналі: {{ d }}</p>
        </ion-item>
        <ion-item>
          <p><strong>Згенерована матриця:</strong></p>
        </ion-item>

      <div class="matrix-container" [style.gridTemplateColumns]="'repeat(' + matrix.length + ', 1fr)'">
        <div *ngFor="let row of matrix" class="matrix-row">
          <div *ngFor="let cell of row" class="matrix-cell">
            {{ cell }}
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
